* {
  box-sizing: border-box;
}

p {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

body {
  background-color: #212732;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 343px;
  padding: 40px 20px 0px 20px;
  border-radius: 10px;
  background-color: #313A48;
  text-align: center;
}

.advice-no {
  font-size: 11px;
  letter-spacing: 3.46px;
  color: #53FFAA;
}

.advice {
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: -0.26px;
  color: #CEE3E9;
}


.divider-desktop {
  display: none;
}

.divider-mobile {
  width: 295px;
  height: 16px;
  margin: 0px;
}

.dice-wrapper {
  position: relative;
  top: 30px;
  left: 114px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;

  border-radius: 50%;
  background-color: #53FFAA;
}

.dice-wrapper:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(83, 255, 170)
}

.dice {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 540px;
    padding: 40px 40px 0px;
  }

  .divider-desktop {
    display: inline;
  }

  .divider-mobile {
    display: none;
  }

  .dice-wrapper {
    left: 199px; 
  }
}